################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/FluentTileGrid/FluentTileGrid/obj
/.vs
/FluentTileGrid/.vs/FluentTileGrid
/FluentTileGrid/FluentTileGrid/bin/Debug/net8.0
/FluentTileGrid/.vs/ProjectEvaluation
