.fluent-tile-grid {
    display: grid;
    width: 100%;
}

.fluent-tile-grid[spacing="1"] {
    width: calc(100% + 8px);
    margin: -4px;
}

.fluent-tile-grid[spacing="2"] {
    width: calc(100% + 16px);
    margin: -8px;
}

.fluent-tile-grid[spacing="3"] {
    width: calc(100% + 24px);
    margin: -12px;
}

.fluent-tile-grid[spacing="4"] {
    width: calc(100% + 32px);
    margin: -16px;
}

.fluent-tile-grid[spacing="5"] {
    width: calc(100% + 40px);
    margin: -20px;
}

.fluent-tile-grid[spacing="6"] {
    width: calc(100% + 48px);
    margin: -24px;
}

.fluent-tile-grid[spacing="7"] {
    width: calc(100% + 56px);
    margin: -28px;
}

.fluent-tile-grid[spacing="8"] {
    width: calc(100% + 64px);
    margin: -32px;
}

.fluent-tile-grid[spacing="9"] {
    width: calc(100% + 72px);
    margin: -36px;
}

.fluent-tile-grid[spacing="10"] {
    width: calc(100% + 80px);
    margin: -40px;
}

.fluent-tile-grid[spacing="1"] ::deep > div {
    padding: calc(var(--design-unit) * 1px);
}

    .fluent-tile-grid[spacing="2"] ::deep > div {
        padding: calc(var(--design-unit) * 2px);
    }

    .fluent-tile-grid[spacing="3"] ::deep > div {
        padding: calc(var(--design-unit) * 3px);
    }

    .fluent-tile-grid[spacing="4"] ::deep > div {
        padding: calc(var(--design-unit) * 4px);
    }

    .fluent-tile-grid[spacing="5"] ::deep > div {
        padding: calc(var(--design-unit) * 5px);
    }

    .fluent-tile-grid[spacing="6"] ::deep > div {
        padding: calc(var(--design-unit) * 6px);
    }

    .fluent-tile-grid[spacing="7"] ::deep > div {
        padding: calc(var(--design-unit) * 7px);
    }

    .fluent-tile-grid[spacing="8"] ::deep > div {
        padding: calc(var(--design-unit) * 8px);
    }

    .fluent-tile-grid[spacing="9"] ::deep > div {
        padding: calc(var(--design-unit) * 9px);
    }

    .fluent-tile-grid[spacing="10"] ::deep > div {
        padding: calc(var(--design-unit) * 10px);
    }