.fluent-card-header {
    color: var(--accent-fill-rest);
    border-color: var(--neutral-layer-4, rgba(0, 0, 0, 0.08));
}

.fluent-tile-grid-item-header {
    padding-block: var( --type-ramp-minus-1-font-size, 12px);
    padding-inline: var(--type-ramp-plus-1-font-size, 16px);
    border-width: 0 0 1px;
    border-style: solid;
    outline: 0;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}

.fluent-tile-grid-item-title {
    margin: 0 0 var(--base-horizontal-spacing-multiplier, 0.5rem);
    font-size: var(--type-ramp-plus-1-font-size, inherit);
    line-height: var(--type-ramp-plus-1-line-height, normal);
    font-weight: var(--font-weight, normal);
}

.fluent-tile-grid-item-resize-handle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.fluent-tile-grid-cursor-nwse-resize{
    cursor: nwse-resize;
}

.fluent-tile-grid-cursor-ns-resize {
    cursor: ns-resize;
}

.fluent-tile-grid-cursor-ew-resize {
    cursor: ew-resize;
}

.touch-action-none {
    touch-action: none;
}